<% title "User" %>

<p>
  <strong>First Name:</strong>
  <%=h @user.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%=h @user.last_name %>
</p>
<p>
  <strong>Address:</strong>
  <%=h @user.address %>
</p>
<p>
  <strong>State:</strong>
  <%=h @user.state %>
</p>
<p>
  <strong>City:</strong>
  <%=h @user.city %>
</p>
<p>
  <strong>Postal Code:</strong>
  <%=h @user.postal_code %>
</p>
<p>
  <strong>Contact Number</strong>
  <%=h @user.contact_number %>
</p>
<p>
  <strong>Date Of Birth</strong>
  <%=h @user.date_of_birth %>
</p>
<p>
  <strong>Height:</strong>
  <%=h @user.height %>
</p>
<p>
  <strong>Weight:</strong>
  <%=h @user.weight %>
</p>
<p>
  <strong>Is Smoker:</strong>
  <%=h @user.is_smoker %>
</p>
<p>
  <strong>Email Address:</strong>
  <%=h @user.email_address %>
</p>
<p>
  <strong>Coverage:</strong>
  <%=h @user.coverage.amount if !@user.coverage.nil? %>
</p>
<p>
  <strong>Coverage Period:</strong>
  <%=h @user.coverage_period.period if !@user.coverage.nil? %>
</p>