<% #This partial is to render information about a contact -%>
<tr>
    <td><%= image_tag 'rails.png' %></td>
    <td>
      <table>
        <tr><td>Name:</td><td><%= contact.last_name %>, <%= contact.first_name %></td></tr>
        <tr><td>Phone:</td><td><%= contact.contact_number %></td></tr>
        <tr><td>Email:</td><td><%= contact.email_address %></td></tr>
      </table>
    </td>
    <td>Select <%= check_box_tag 'cids[]', contact.id, check_selected_contacts(contact.id), :onclick=>'toggleInArray(this);' %></td>
</tr>